
body{
    margin-left: ;
    margin-right ;
    font-size: ;
    text-align: center;
    background-color: ;
    color: ;
    font-size: 20px;
    font-family: "Georgia";
}

header{
    padding-left: ;
    padding-right: ;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: ;
    color: ;
    border-color: ;
    border-style: ;
    width: ;
    text-align: center; 
    border: 5px solid;
}

#logo {
	height: 100px;
	padding-left: 5%;
    padding-top: 10px;
}



h1{
    color: #;
    font-size: ;
}

h2{
    color: #;
    font-size: 25px;
    
}

a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: None;
    border: 3px solid #000000;
	color: #000000;
}

a:hover {
	color: #FFFFFF;
	background-color: #000000;
	text-decoration: underline;
}

a.current {
    color: #FFFFFF;
	background-color: #000000;
	text-decoration: none;
}

a.logoBut {
    border: none;
}

a.logoBut {
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

image{
    padding-bottom: 2%;
}
name{
    font-size: 20px;
    color: #A1F497;
    border:1px dashed;
    border-color: #DB88F2;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    
}

a#order-watch {
    /*text-decoration: none;
    color: #fff;
    background-color: #3719cf;
    font-size: 24px;*/
    padding: 5px 20px;
    f/*ont-family: Helvetica, Arial, "sans-serif";
    border-radius: 7px;
    border: 1px solid #dfdfe5;
    display:block;
    width: 180px;
    text-align:center;
    position: relative;
    margin-left: auto; margin-right: auto;
    box-sizing: border-box;*/
}

a#order-watch:hover {
    /*color: #21e0ed;
    background-color: #3719cf;
    border: 1px solid #3719cf;*/
    text-decoration: none;

}

#watches img {
    display: inline-block;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}

#watches div {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
}

#cart {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    margin: 20px;
    /*border: 2px solid #000;*/
    position: relative;
    /*height: 200px;*/
}

#cart table {
    /*position: absolute;*/
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
    padding: 5px;
    /*min-height: 70px;*/

}

#resetcart {
    position: relative;

}


